/*    設定nav*/
nav{
    position: fixed;
    top: 0;
    width: 85%;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    overflow: hidden;
}

nav li{
    list-style-type: none;
    display: inline-block;
    letter-spacing: 1.5pt;
}

nav a{
    font-family: 'Lora', serif;  
}

nav a,
nav a:visited{
    text-decoration: none;
    color: brown;
}

.dropdown01 a:hover,
.dropdown02 a:hover,
.dropdown03 a:hover,
.dropdown04 a:hover,
.dropdown05 a:hover,
.dropdown01 a:active,
.dropdown02 a:active,
.dropdown03 a:active,
.dropdown04 a:active,
.dropdown05 a:active {
    text-decoration: none;
    color: #003262;
    background-color: lemonchiffon;
}

.logo a:active,
.logo a:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}    

.logo,
.dropdown01,
.dropdown02,
.dropdown03,
.dropdown04,
.dropdown05 {
    display: inline-block;
    position: relative;
    font-weight: bold;
    letter-spacing: 1.5pt;
}

.logo{
    margin-right: 80px;
    vertical-align: middle;
}
.logo img {
    height: 75px;
}

.dropdown01,
.dropdown02,
.dropdown03,
.dropdown04,
.dropdown05 {
    margin-right: 20px;
    font-size: 15pt;
    line-height: 50px;
}

/*設定dropdown-menu*/
.dropdown-menu,{
    display: none;
}

.dropdown01:hover #menu01,
.dropdown02:hover #menu02,
.dropdown03:hover #menu03,
.dropdown04:hover #menu04,
.dropdown05:hover #menu05 {
    display: block;
    position: fixed;
    top: 55px;
    left: 20vw;
    right: 10px;
    max-width: 800px;
    min-height: 260px;   
    padding: 15px 0px 15px 30px; 
    background-color: ivory;
    border-style: none;
}
   
.dropdown-menu img {
    width: 100%;
    padding-left: ;
}
/*img 350x255，固定width=350px*/

.dropdown-menu p{
    font-size: 12pt;
    line-height: 15pt;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding-right: 5px;
}

/*設定.dropdown-menu hyperlink*/
.caret02{
    border-style:solid;
    border-width: 4px;
    border-color: transparent transparent transparent brown;
    display: inline-block;
}

.hyperlink li{
    line-height: 15pt;
    margin-right: 10px;
    margin-left: -10px;
}

.hyperlink a{
    font-size: 12pt;
}

.hyperlink a:hover,
.hyperlink a:active {
    text-decoration: none;
    color: #003262;
}

.hyperlink a:hover .caret02,
.hyperlink a:active .caret02{
    border-color: transparent transparent transparent black;
}


/*設定header*/
header {
    background-color: white;
    font-family: 'Roboto';
    padding: 0px;
    margin: 0;
}

.container01{
    width: 100%;
    height: 400px; 
    text-align: center;
}

#myCarousel {
    width: 100%;
    height: 400px;
}

#myCarousel img {
    width: 100%;
    height: 400px;
}

h3 {
    letter-spacing: 1pt;
}

.carousel-caption p{
    letter-spacing: 1.5pt;
}

/*設定body：container*/

/*設定upward*/
#top{
    font-size: 40pt;
    position: fixed;
    right: 15px;
    bottom: 15px;
    background-color: firebrick;
    border-radius: 50%;
    opacity: 0.7;
    color: ivory;
}

#top:hover,
#top:active {
    opacity: 1;
}

/*設定thumbnal*/
.container{
    text-align: center;
}

.thumbnail {
    width: 100%;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-align: center;
    padding: 15px;
    display: inline-block;
    border-style: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: whitesmoke;
}

a .thumbnail{
    font-family: 'Lora';
    font-size: 15pt;
    color: darkblue;
    font-weight: bold;
}

a .thumbnail:hover,
a .thumbnail:active {
    text-decoration: none;
    border-style: double;
    color: darkred;
}

.thumbnail img {
    width: 100%;
    padding-top: 5px;
}

.thumbnail p{
    text-align: left;
    font-family: 'Lora';
    font-weight: 500;
    color: black;
    padding-left: 10px;
    font-size: 14pt;
}

/*footer*/
footer{
    background-color:darkred;    
    width: 100%;
    height: 50px;
    bottom: 0;
    text-align: center;
    line-height: 50px;
    color: azure;
    font-family: 'Lora', serif;
    letter-spacing: 1pt;
}

/*設定page01-05*/
.container02{
    width: 100%;
    height: 500px; 
    text-align: center;
}

/*設定nav-tabs*/
.nav nav-tabs a {
    font-family: 'Roboto';
    font-size: 12pt;
    
}

.tab-contnt {
    height: 450px;
}

.tab-content img {
    height: 450px;
    z-index: -1;
}




























